<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LOg viewer</title>

</head>

<body class="root">
    <nav>
        <h1> Log analyzer</h1>
        <div>
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </nav>
    <hr>
    <div class="main">
        <div class="container-1">
            <div class="filter">
                <i class="fa fa-filter"> FILTERS</i>



            </div>
            <div class="level">
                <i class="fa fa-caret-down" aria-hidden="true">
                    Machine

                </i>

                <label class="container">One
                    <input checked="checked" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">One
                    <input checked="checked" type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <div class="level">
                    <i class="fa fa-caret-down" aria-hidden="true"> Machine</i>
                    <label class="container">One
                        <input checked="checked" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

        </div>
        <div id="container-2">

            <div class="level-1">
                <div class="box">
                    <h5>date time</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sunt necessitatibus earum fuga
                        illum, soluta ipsam suscipit reprehenderit accusantium nobis aperiam provident repellendus.</p>


                    <ul>
                        <p>IP address</p>
                        <p>Machine</p>
                        <p>Host Name</p>
                        <p>Version</p>
                        <p>Node Namr</p>
                        <p>Release</p>
                        <p>Processor</p>


                    </ul>
                </div>

                <div class="box">
                    <h5>date time</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sunt necessitatibus earum fuga
                        illum, soluta ipsam suscipit reprehenderit accusantium nobis aperiam provident repellendus.</p>
                </div>


                <div class="box">
                    <h5>date time</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sunt necessitatibus earum fuga
                        illum, soluta ipsam suscipit reprehenderit accusantium nobis aperiam provident repellendus.</p>
                </div>

                <div class="box">
                    <h5>date time</h5>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sunt necessitatibus earum fuga
                        illum, soluta ipsam suscipit reprehenderit accusantium nobis aperiam provident repellendus.</p>
                </div>

                <div class="box">
                    <h5>date time</h5>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non sunt necessitatibus earum fuga
                        illum, soluta ipsam suscipit reprehenderit accusantium nobis aperiam provident repellendus.</p>
                </div>


            </div>
        </div>

    </div>

</body>

</html>
